- if @total_news.present?
  %p
    = @total_news.count
  - @total_news.each do |un|
    %blockquote.well
      %p
        = link_to un.last_news.url, :class => 'lnew', :id => "l_#{un.last_news.id}", :target => :blank do
          - btn_class = class_btn(current_user, un.last_news)
          %button.btn{:class => btn_class}
            %i.icon-search.icon-white
          = (raw un.last_news.title)

        .star{:id => un.last_news.id, 'data-score' => score(current_user, un.last_news)}
      %small
        = "#{un.feed_title} (#{un.last_news.source})"
        %cite
          = un.total_score
          = "(#{un.last_news.date_publish})"

      %p= un.last_news.lede