- if @total_news.present?
  %p
    = @total_news.count
  - @total_news.sort_by { |k, v| -v[:score] }.each do |k,v|
    %blockquote
      %p= raw v[:title]
      %small
        = v[:source]
        %cite
          = v[:score]
          = "(#{v[:date_publish]})"
