- if @total_news.present?
  %p
    = @total_news.count
  - @total_news.each do |un|
    %blockquote.well
      %p
        = link_to (raw un.last_news.title), un.last_news.url
        .star{:id => un.last_news.id}
      %small
        = "#{un.feed_title} (#{un.last_news.source})"
        %cite
          = un.total_score
          = "(#{un.last_news.date_publish})"

      %p= un.last_news.lede