- if @total_news.present?
  %p
    = "Showing 15 of #{@total_news.count}. Page #{(@page || 0).to_i + 1}."
    - if @page.present? && @page.to_i > 0
      %button.btn.btn-info#prev-btn
        Prev
    - else
      %button.btn.btn-info.disabled
        Prev
    %button.btn.btn-info#next-btn
      Next
  - @total_news.each do |un|
    %blockquote.well
      %p
        = link_to un.last_news.url, :class => 'lnew', :id => "l_#{un.last_news.id}", :target => :blank do
          - btn_class = class_btn(current_user, un.last_news)
          %button.btn{:class => btn_class}
            %i.icon-search.icon-white
          = (raw un.last_news.title)

        .star{:id => un.last_news.id, 'data-score' => score(current_user, un.last_news)}
      %small
        = "#{un.feed_title}"
        %cite
          = un.total_score
          = "(#{un.last_news.date_publish})"

      %p= raw un.last_news.lede
