- if @news_trend.present?
  %p
    Found
    %strong= @news_trend.count
    news in last tweets whith the term
    %strong= @str_trend
  - @news_trend.each do |nt|
    %blockquote
      %h3= link_to nt.title, nt.url, :target => :blank
      %cite= nt.author
      %p= nt.lede

