= link_to root_path, :class => 'brand' do
  = image_tag 'twitter-bird-dark-bgs.png', :width => 30
  T.News

%ul.nav
  %li.divider-vertical
  - if user_signed_in?
    %li.active
      = link_to '#' do
        %i.icon-user.icon-white
        =current_user.name

    %li
      = link_to destroy_user_session_path do
        %i.icon-remove-circle
        Logout
  - else
    %li
      = link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter)